{% extends "base.html" %}

{% block head_css %}
<style>
  .search-box {
    height: 36px;
  }
</style>
{% endblock %}

{% block end_js %}
<script>
  var app = new Vue({
    el: '#vue-app',
    data: {
      verse: "",
      search_result: "",
      no_results: false,
      loading: false,
      bible_version: "{{ bible_version }}"
    },
    methods: {
      version_change: function(event) {
        event.preventDefault();
        var form = $(event.srcElement.closest("form"));
        var vm = this;

        axios({
          method: 'post',
          url: '.',
          data: form.serialize(),
        })
        .then(function (response) {
          console.log(response);
          response_html = $.parseHTML(response.data)
          $("#votd-text").html($(response_html).find("#votd-text"));
          vm.bible_version = $("#bible-version").find(":selected").val();
          $("#search-form-submit").click();
        });

      },
      search: function(event) {
        event.preventDefault();
        var form = $(event.srcElement.closest("form"));
        var vm = this;
        vm.loading = true;

        axios({
          method: 'post',
          url: '/search',
          data: form.serialize(),
        })
        .then(function (response) {
          console.log(response);
          vm.search_result = response.data;
          if (vm.search_result.length == 0) {
            vm.no_results = true;
          } else {
            vm.no_results = false;
          }
          vm.loading = false;
          console.log(vm.search_result);
        })
        .catch(function (response) {
          console.log(response);
          vm.no_results = false;
          vm.loading = false;
        });
      }
    },
    delimiters: ['[[', ']]']
  });
</script>
{% endblock %}

{% block content %}
  <div id="vue-app">
    <div class="container">
      <div class="row" style="display: block; margin-top: 10px;">
        <div class="col-md-8 offset-md-2">
          <form action="." method="POST">
            <select id="bible-version" name="version" v-on:change="version_change" class="form-control" style="max-width: 100px; margin-left: auto; display: block;">
              {{ bible_version }}
              {% for bible in bibles %}
              <option {% if bible == bible_version %}selected="selected"{% endif %} value="{{ bible }}">{{ bible }}</option>
              {% endfor %}
            </select>
          </form>
        </div>
      </div>
      <div class="row" style="display: block; margin-top: 40px;">
        <div id="votd" class="col-md-8 offset-md-2">
          <h2 id="votd-text">{{ votd.text|safe }}</h2>
          <h3 style="font-size: 26px; text-align: right; width: 100%;">&mdash; {{ votd.ref }}</h3>
        </div>
      </div>
      <div class="row" style="display: block; margin-top: 60px;">
        <div class="col-md-6 offset-md-4">
          <form id="search-form" action="/search" method="POST">
            <input type="text" placeholder="John 3:16 or Search" value="" name="query" class="search-box" id="search-box" maxlength="150"/>
            <input id="search-form-submit" v-on:click="search" type="submit" value="Search" class="btn btn-success">
          </form>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 offset-md-2">
          <br>
          <p v-if="no_results" class="text-center">No results found.</p>
          <p v-else-if="loading" class="text-center">Loading</p>
          <div id="search-result">
            <ul style="list-style-type: none; padding-left: 0px;">
              <div v-for="item in search_result">
                <li style="padding-left: 5px;">
                  <b>[[ item.ref ]]</b>&nbsp;<span style="color: gray;">[[ bible_version ]]</span><br>
                  <div v-html="item.text"></div>
                </li>
                <hr>
              </div>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
